@use '../../Style/globals.scss';

.timeline {
    position: relative;
    max-width: 900px;
    margin: 2rem auto;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 2px;
        height: 100%;
        background: globals.$color_sand;
        transform: translateX(-50%);
    }


    img {
        display: block;
        width: 5%;
        object-fit: cover;
        justify-self: end;
    }

    h4 {
        color: globals.$color_white;
        margin-top: -1rem;

    }
}

.since {
    position: relative;
    width: 50%;
    padding: 1rem;

    p {
        color: globals.$color_white;
        padding: 1rem;
        border-radius: 8px;
    }

    .link {
        display: flex;
        flex-direction: row;
    
        a {
            color: globals.$color_white;
        }
    }
}

.left {
    left: 0;
    text-align: right;

    .link {
        justify-content: end;
        margin-right: 3rem;
    }

    h4 {
        margin-right: 2rem;
    }

    p {
        margin-right: 2rem;
    }

    

}

.right {
    left: 50%;
    text-align: left;

    p {
        margin-left: 2rem;
    }

    a {
        margin-left: 3rem;
        
    }
}

.dot {
    position: absolute;
    top: 1.2rem;
    right: 25px;
    width: 14px;
    height: 14px;
    background: globals.$color_sand;
    border-radius: 50%;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 40px;
        height: 2px;
        background: globals.$color_sand;
        transform: translateY(-50%);
    }
}


.right .dot {
    left: -7px;

    &::after {
        left: 100%;
    }
}


.left .dot {
    right: 25px;

    &::after {
        right: 100%;
    }
}