@use '../../Style/globals.scss';


body {
    background-color: globals.$color_black;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
}

.old_pictur {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;

}


.circle1{
    border-radius: 50%;
    background-color: globals.$color_sand;
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 2;
    top: 5px;
    right: 5px;

}
.circle2{
    border-radius: 50%;
    background-color: globals.$color_sand;
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 2;
    top: 5px;
    left: 5px;

}.circle3{
    border-radius: 50%;
    background-color: globals.$color_sand;
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 2;
    bottom: 5px;
    right: 5px;

}.circle4{
    border-radius: 50%;
    background-color: globals.$color_sand;
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 2;
    bottom: 5px;
    left: 5px;

}

.heading {
    background-color: globals.$color_darkgrey;
    border: 5px solid globals.$color_darkgreen;
    font-family: "Limelight", sans-serif;
    z-index: 2;
    position: absolute;
    height: 25vh;
    width: 60vw;
    bottom: -50px;
    left: 20vw;


}