//Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Limelight&family=Linden+Hill:ital@0;1&display=swap');
//Farver
$color_sand: #FFE9BF;
$color_copper: #D29E62;
$color_darkgreen: #695E48;
$color_lightgreen: #C7BD8D;
$color_darkgrey: #1F1F1F;
$color_black: #151515;
$color_white: #F5F5F5;

